.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;

  }
  
  .post-date {
    font-size: 15px;
    color: violet;
    margin-bottom: 10px;
  }
  
  .post-body {
    font-size: 20px;
    line-height: 1.5;
  }


  